

.sidebar{
	
margin:0;

position:fixed;
left:0px;
top:0;
width:300px;
height:100%;
background:#042331;
transform:translate(-100%);
overflow-y:auto;

}

.show-sidebar{
	transform:translate(0);
}


.sidebar header {
	
	font-size:22px;
	color:white;
	text-align: center;
	line-height:70px;
	background:#063146;
	user-select:none;
	width:150;
	
}

.sidebar li:hover{
	background:rgb(141, 169, 221);
	padding-left:1.5rem;
	overflow-y:auto;
}

.sidebar li button{
	background-color:rgb(12, 99, 150);
	border-radius: 5px;
	border-style: groove;
}

.fa-video{
	position:fixed;
	top:25rem;
	left:3rem;
	color:red;
	font-size:1.5rem;
	cursor:pointer;
	padding:3px;

}
.fa-video:hover{
	color:yellow;
}
.fa-times{
	position:relative;
	bottom:45px;
	left:245px;
	color:red;
	font-size:1.5rem;
	cursor:pointer;
}

.fa-times:hover {
	color:yellow;
}


<!--modal-->

.modal-open{

    padding: 8px 16px;
    background: royalblue;
    color: whitesmoke;
    border-radius: 4px;
    outline: none;
    border:none;

}


.modal{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: none;
}

.modal-content{
    background: #fff;
    margin-top: 100px;
    height:475px;
	width: 550px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 24px;
    border-radius: 4px;
    z-index: 4;
}

.header{
    font-weight: 500;
    padding: 10px 0;
    font-size: 26px;
}

.body{
    color: #7b7b7b;
    padding: 15px 0;
}

.footer{
    padding: 15px 0;
}

.footer .modal-close{
    padding: 8px 16px;
    font-size: 14px;
    border:none;
    outline:navy;
    color: skyblue;

}


body .button :hover{

    color: yellow;
    cursor: pointer;
}