

.sidebar{
	
margin:0;

position:fixed;
left:0px;
top:0;
width:300px;
height:100%;
background:#042331;
transform:translate(-100%);
overflow-y:auto;

}

.show-sidebar{
	transform:translate(0);
}

.hide-sidebar{
	transform:translate(-100%);
}

.sidebar header {
	
	font-size:22px;
	color:white;
	text-align: center;
	line-height:70px;
	background:#063146;
	user-select:none;
	width:150;
	
}

.sidebar li:hover{
	background:green;
	padding-left:1.5rem;
	overflow-y:auto;
}

.fa-video{
	position:fixed;
	top:25rem;
	left:3rem;
	color:red;
	font-size:1.5rem;
	cursor:pointer;
	padding:3px;

}
.fa-video:hover{
	color:yellow;
}
.fa-times{
	position:relative;
	bottom:45px;
	left:245px;
	color:red;
	font-size:1.5rem;
	cursor:pointer;
}

.fa-times:hover {
	color:yellow;
}

